/*1 General */
/*2 Header*/
/*2.1 Nav*/
/*3 Main Content*/
/*4 Sidebar*/
/*5 Footer*/

/*1 General */
body{
  margin: 0;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
}
nav, main, footer,  section{
  float:left;
  width: 100%;
}
.block-left{
  float: left;
}
.block-right{
  float: right;
}
.clearfix{
  clear: both;
}
/*2 Header*/
header {
  width: 100%;
}
.title {
  display: flex;
  justify-content: center;
  font-family:
    nyt-cheltenham,
    georgia,
    "times new roman",
    times,
    serif;
  font-style: italic;
}

.main-picture {
  margin: 0 auto;
  max-width: 945px;
  cursor: pointer;
}

.main-picture img {
  width: 100%;
}

/*2.1 Nav*/
nav {
  position: fixed;
  top: 0;
  background-color: white;
  margin: 0;
  box-shadow: rgba(0,0,0,0.08) 0 0 5px 1px;
  border-bottom: 1px solid #e2e2e2;
  padding: 5px;
}

nav div{
  width: 33%;
}
.menu-list{
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-top: 5px;
}

.menu-icon{
  display: inline-block;
  height: 16px;
  vertical-align: sub;
  width: 16px;
  border: 0;
  margin-right: 8px;
  border-radius: 3px;
  cursor: pointer;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  color: #333;
  font-size: 11px;
  font-weight: 500;
  align-items: flex-start;
}

.logo{
  width: 195px;
  height: 26px;
  margin: 6px auto 0;
  display: flex;
  justify-content: center;
}

.login-button{
  justify-content: end;
  display: flex;
}
.login-button button{
  margin-right: 30px;
  margin-top: 3px;
}

button {
  border-radius: 3px;
  cursor: pointer;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  background-color: #6288a5;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  -webkit-letter-spacing: 0.05em;
  -moz-letter-spacing: 0.05em;
  -ms-letter-spacing: 0.05em;
  letter-spacing: 0.05em;
  line-height: 11px;
  padding: 8px 9px 6px;
  text-transform: uppercase;
}

.comments-button{
  padding: 10px 60px;
  font-size: 14px;
}

/*3 Main Content*/
main{
  margin-top: 50px;
}

.main-picture figcaption {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin-right: 7px;
  color: #666;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

figcaption small {
  color: #888;
}

.image-back-1{
  float: left;
  width: 472.5px;
  background: url("../images/inflation-945.png");
}

.image-back-2{
  float: left;
  width: 472.5px;
  background: url("../images/inflation-945.png") -472.5px 0;
}

.image-child{
    /*position*/
    margin-top: 150px;
    float: left;
    width: 50%;
    /*style text*/
    padding:4px;
    box-sizing: border-box;
    font-family: nyt-franklin,arial,helvetica,sans-serif;
    font-size: 12px;
    line-height: 17px;
    font-weight: 300;
    color: #000000;
}
.image-child b{
  font-weight:bold;
}

.line{
  width: 72px;
  border-bottom: 1px solid rgb(204, 204, 204);
  margin: 0px auto 18px;
}

.comments{
  align-items: center;
  background: transparent none repeat scroll 0% 0%;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 4px;
  min-width: 26px;
  min-height: 14px;
  padding: 4px;
  position: relative;
  width: auto;
}

.image-blocks{
  max-width: 945;
  margin: 0 auto;
}
.image-blocks img{
  width: 100%;
}

.comments:before{
  border-color: rgb(102, 102, 102) transparent;
  border-style: solid;
  bottom: -7px;
  border-width: 6px 0px 0px 8px;
  content: "";
  display: block;
  left: 15px;
  position: absolute;
  width: 0px;
}

.comments:after{
  border-color: rgb(255, 255, 255) transparent;
  border-style: solid;
  border-width: 6px 0px 0px 6px;
  bottom: -6px;
  content: "";
  display: block;
  left: 16px;
  position: absolute;
  width: 0px;
}

.text-section{
  float: left;
  max-width: 600px;
  margin-left: calc((100% - 600px)/2);
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin-bottom: 0.9375rem;
  color: #333;
}

.text-section a {
  color: #326891;
}

.social-links{
  float: right;
}

.s-link{
  display: inline-block;
  height: 15px;
  vertical-align: middle;
  width: 15px;
  background-color: #eee;
  border: 1px #eee solid;
  border-radius: 100%;
  padding: 5px;
  width: 15px;
  height: 15px;
}

.flag{
  margin-top: 10px;
}

.social-links ul{
  list-style: none;
  margin-top:0;
}

.social-links ul li{
  display: inline;
  margin: 0 5px;
}

.author{
  margin-bottom: 10px;
  font-weight: bold;
}

.article-date{
  float: left;
  margin-top:10px;
}

.middle-text {
  text-align: center;
  margin: 10px auto 15px auto;
  font-size:15px;
  font-weight: 800;
  font-family: "Arial";
}

.middle-text-parent{
  width: 600px;
}

.middle-text a {
  color: rgb(50, 104, 145);
  text-decoration: none;
}

.image-blocks {
  max-width: 945px;
}

.image-blocks h2 {
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  font-style: normal;
  font-family: nyt-cheltenham,georgia,times new roman,times,serif;
  margin-bottom: 2px;
}

.image-blocks p {
  font-size: .875rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-weight: 400;
  font-style: normal;
  font-family:
  nyt-cheltenham-sh,
  georgia,
  times new roman,
  times,
  serif;
  color: #666;
}

.image-blocks h6 {
  font-size: .875rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-weight: 500;
  font-style: normal;
  font-family:
  nyt-franklin,
  arial,
  helvetica,sans-serif;
  color: #333;
}

.image-blocks img {
  width: 100%;
}

.video-information {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin-right: 7px;
  color: #666;
  font-family:
  nyt-imperial,
  georgia,
  'times new roman',
  times,
  serif;
}

.picture-2 img {
  max-width: 600px;
}

.picture2-text {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin-right: 7px;
  margin-bottom: 0;
  color: #666;
  font-family:
  nyt-imperial,
  georgia,
  'times new roman',
  times,
  serif;
}

.picture-2 span {
  color: #888;
  letter-spacing: 0.01em;
  font-size: 0.75rem;
}

.last-text {
  font-family:
  nyt-franklin,
  helvetica,
  arial,
  sans-serif;
  font-size: 0.65rem;
  line-height: 1rem;
  width: calc(100% - 40px);
  max-width: 600px;
  margin: 0 auto 1em;
  color: #999;
}


/*4 Sidebar*/
aside {
    width: 210px;
    float: right;
    margin-right: 100px;
    margin-top: -100px;
}

aside h2{
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-top: 0px;
  margin-bottom: 15px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.aside-article-text {
  max-width: 50%;
  float: right;
}

.aside-article-image {
  max-width: 50%;
  float: left;
}

article div img{
  width: 75px;
  height: 75px;
}
article a{
  font-family: nyt-cheltenham-small, georgia, "times new roman";
  font-size: 12px;
  line-height: 17px;
  color: black;
  text-decoration: none;
}
article a div:hover{
  text-decoration: underline;
}

.article-1 {
  margin-bottom: 6px;
  float:left;
}

@media (min-width: 1150px){

}
/* Footer*/
.ny-logo {
  display: block;
  height: 44px;
  vertical-align: middle;
  width: 184px;
  text-size-adjust: 100%;
  font: inherit;
  cursor: pointer;
}

.footer-bottom{
  height: 70px;
  max-width: 1000px;
  margin: 0 auto;
  border-top: 1px solid rgb(235, 235, 235);
  text-align: center;
  display: flex;
  padding-top: 20px;
  justify-content: space-around;
}

.footer-bottom a{
  text-decoration: none;
  color: rgb(153, 153, 153);
  font-size: 11px;
}

.footer-bottom a:hover{
  text-decoration: underline;
}
